# Fichiers de compilation (Binaires)
*.exe
*.o
*.obj

# Les DLL à la racine (on ne les versionne pas généralement à la racine)
*.dll

# Dossiers de configuration IDE (VS Code)
.vscode/
.idea/

# Fichiers temporaires Windows
Thumbs.db

# Dossiers à ignorer
.vscode/
lib/
lib_external/

# Binaires
*.exe
*.dll
.h

# Fichiers temporaires
*.log